<%# navigation styled for Bootstrap 4.0 %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "Quiz War", root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler hidden-sm-up nav-link" type="button" data-toggle="collapse" data-target="#collapseHeader" aria-controls="collapseHeader" aria-expanded="false" aria-label="Toggle navigation">
    &#9776;
  </button>
  <div class="collapse navbar-collapse" id="collapseHeader">
    <ul class="navbar-nav mr-auto">
      <%= render 'layouts/navigation_links' %>
    </ul>
    <span class="navbar-text">
      <ul class="navbar-nav mr-auto">
        <%= render 'layouts/authentication_links' %>
      </ul>
    </span>
  </div>
</nav>
